@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .swiper
    &-slide
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 992px)
  .logo
    width: 132px
  .container,
  .newsletter-wrapper
    max-width: 700px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .slider
    width: 100%
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 230px
  .footer
    &__wrapper
      grid-template-columns: repeat(6, 1fr)
      // grid-row-gap: 40px
    &__input
      flex-basis: 49%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      &__menu-button
        display: flex
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .slider
    height: 350px
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 70px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
