.hotel
  padding-top: 23px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 20px
    &__offer
      margin-left: 14px
      margin-top: 4px
    &__name
      margin-top: 4px
      margin-bottom: 0
    &__description
      margin: 5px 0
  &-name
    font-size: 24px
    line-height: 30px
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
    // justify-content: space-between
  &-description
    font-size: 12px
    line-height: 15px
  &-grid
    display: flex
    justify-content: space-between
  &-right
    display: flex
    flex-direction: column
    justify-content: space-between
.stars
  flex-basis: 100%
.offer
  font-size: 10px
  line-height: 13px
  padding: 4px 9px
  background-color: $primary
  border-radius: 3px
  color: $light
.rating
  max-width: 65px
  min-height: 45px
  text-align: center
  color: $light
  background-color: $primary
  border-radius: 4px
  &__text
    font-size: 8px
    line-height: 10px
  &__counter
    font-size: 14px
    line-height: 18px
.swiper-container
  width: 100%
  height: 100%
  position: relative
  border-radius: 8px
.slider
  width: 728px
  height: 450px
  &-button
    position: absolute
    width: 30px
    height: 30px
    top: 50%
    transform: translateY(-50%)
    border: none
    background-color: transparent
    cursor: pointer
    z-index: 99
    background-repeat: no-repeat
    background-size: 10px
    background-position: center
    &--next
      right: 35px
      background-image: url("../img/arrow-brew.svg")

    &--prev
      left: 18px
      background-image: url("../img/arrow-prev.svg")
.booking
  background-color: $dark
  color: $light
  border-radius: 8px
  width: 350px
  min-height: 210px
  padding: 28px
  &__info
    display: flex
    justify-content: space-between
    margin-bottom: 9px
  &__price
    display: flex
    flex-direction: column
  &__start
    font-weight: normal
    font-size: 10px
    line-height: 14px
  &__pricetag
    font-style: normal
    font-weight: 800
    font-size: 24px
    line-height: 33px
  &__per-room
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 16px
  &__room
    margin-top: 4px
  &__text
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 8px
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 16px
  &__description
    margin-left: 9px
  &__call-center
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 17px
  &__heading
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
  &__number
    display: flex
    align-items: center
    justify-content: space-between
    color: inherit
    text-decoration: none
    font-weight: 600
    font-size: 18px
    line-height: 25px
  &__num
    margin-left: 8px
  &__button
    width: 100%
    min-height: 45px
    font-weight: 600
    font-size: 14px
    line-height: 19px
    border-radius: 4px
    background-color: $primary
    border: none
    color: $light
    cursor: pointer
.map
  width: 347px
  height: 213px
  background-color: black
  border-radius: 10px
  overflow: hidden
